body {
	font-family: 'Lato', sans-serif;
}

button {
	background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.upload_button {
	background-color: #4CAF50;
}

.edit_button {
	background-color: #008CBA;
}

.delete_button {
	background-color: #f44336;
}

#tbl_images {
    border-collapse: collapse;
    width: 100%;
}

#tbl_images td, #tbl_images th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl_images tr:nth-child(even){background-color: #f2f2f2;}

#tbl_images tr:hover {background-color: #ddd;}

#tbl_images th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

#img_upload, #img_edit {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .90;
	-webkit-opacity: .90;
	-moz-opacity: .90;
	filter: alpha(opacity=90);
	z-index: 1000;
}

#img_upload_content, #img_edit_content {
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 20px 0 #222;
	-webkit-box-shadow: 0 0 20px 0 #222;
	-moz-box-shadow: 0 0 20px 0 #222;
	display: none;
	height: 150px;
	left: 50%;
	margin: -120px 0 0 -160px;
	padding: 10px;
	position: absolute;
	top: 50%;
	width: 320px;
	z-index: 1000;
}

#img_upload.active, #img_upload_content.active, #img_edit.active, #img_edit_content.active {
	display: block;
}